<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{assigns[:page_title] || "mmo_lite"}</title>
    <link phx-track-static rel="stylesheet" href="/mmo_lite/assets/css/app.css" />
    <script defer phx-track-static type="text/javascript" src="/mmo_lite/assets/js/app.js">
    </script>
  </head>
  <body>
    {@inner_content}
  </body>
</html>
